.container-main {
    width: 100%;
    margin: 1.2em;
}

.start-text-img {
    display: flex;
    justify-content: flex-start;
}

.home-bg-picture {
    width: 30%;
    border-radius: 8%;
    border-color: #242123;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 60%), 0 0 0 1px rgb(10 10 10 / 24%);
}

.text-bg-head {
    width: 60%;
    margin-left: 2em;
    margin-right: 10%;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 60%), 0 0 0 1px rgb(10 10 10 / 24%);
    padding: 3%;
}

.text-bg-head>p,
.text-bg>p {
    font-weight: 600;
    color: rgb(204, 165, 201);
    font-size: 1.2em;
}

.advertise {
    display: flex;
}

.advertise>img {
    width: 90%;
    margin: 3%;
    height: 10em;
    border-color: aliceblue;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 60%), 0 0 0 1px rgb(10 10 10 / 24%);
}

.head-biography {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-left: 0;
}

.head-biography>p {
    color: rgb(204, 165, 201);
    font-size: 2em;
    font-weight: 700;
    margin-right: 10%;
}

.text-bg {
    margin-left: 2em;
    margin-right: 10%;
    padding: 3%;
    margin-left: 0;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 60%), 0 0 0 1px rgb(10 10 10 / 24%);
}











@media (max-width: 675px) {
    .home-bg-picture {
        width: 40%;
        height: 100%;
    }

    .text-bg-head>p,
    .text-bg>p {
        font-size: 0.8em;
        font-weight: 500;
    }

    .advertise>img {
        margin-left: 0;
    }

    .head-biography>p {
        font-size: 1.2em;
    }
}